// // //
// Creates a multiple columns layout.

.row {
  // We can set gaps between columns, column width, min and max column with
  // with steps of 1rem as classes. Ex: "gap-1", "min-width-2", "with-1", "max-width-2", etc.

  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;

  .column {
    flex: 1;

    @for $input from 1 through 1000 {
      $value: #{ $input }rem;

      &.width-#{ $input } {
        width: $value;
        flex: none;
      }
      &.min-width-#{ $input } { min-width: $value; }
      &.max-width-#{ $input } { max-width: $value; }
    }
  }

  @for $gap from 1 through 1000 {
    $value: #{ $gap }rem;

    &.gap-#{ $gap } { gap: $value; }
    &.gap-h-#{ $gap } { column-gap: $value; }
    &.gap-v-#{ $gap } { row-gap: $value; }
  }
}

// Attributes.

.marginless { margin: 0; }

// Mobile stuff.

.mobile { display: none; } // Will only show on mobile.

@media (max-width: 899px) {
  .mobile { display: unset; }

  .non-mobile { display: none; }

  .row {
    .column {
      min-width: unset;
      margin-right: unset;
    }
  }
}
