// We can set gaps between columns, column width, min and max column
// with steps of 1rem as classes. Ex: "gap-1", "min-width-2", "with-1",
// "max-width-2", etc...
.row {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;

  .column {
    flex: 1;

    @for $input from 1 through 1000 {
      $value: #{ $input }rem;

      &.width-#{ $input } {
        width: $value;
        flex: none;
      }
      &.min-width-#{ $input } { min-width: $value; }
      &.max-width-#{ $input } { max-width: $value; }
    }
  }

  @for $gap from 1 through 1000 {
    $value: #{ $gap }rem;

    &.gap-#{ $gap } { gap: $value; }
    &.gap-h-#{ $gap } { column-gap: $value; }
    &.gap-v-#{ $gap } { row-gap: $value; }
  }
}

// Attributes.
.marginless { margin: 0; }

// Will only show on mobile view.
.mobile { display: none; }

// Default breakpoint.
$toolbox-breakpoint: 900px !default;

@media (max-width: $toolbox-breakpoint) {
  // Undo the non mobile layout config.
  .row {
    display: unset;
    flex-wrap: unset;

    .column {
      @for $input from 1 through 1000 {
        $value: unset;
  
        &.width-#{ $input } {
          width: $value;
          flex: inherit;
        }
        &.min-width-#{ $input } { min-width: $value; }
        &.max-width-#{ $input } { max-width: $value; }
      }
    }
  }

  // Undo the non mobile layout config.
  .mobile { display: block; }

  // We can set gaps between columns, column width, min and max column
  // with steps of 1rem as classes. Ex: "mobile-gap-1", "mobile-min-width-2",
  // "mobile-with-1", "mobile-max-width-2", etc...
  .mobile-row {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;

    .mobile-column {
      flex: 1;

      @for $input from 1 through 1000 {
        $value: #{ $input }rem;

        &.mobile-width-#{ $input } {
          width: $value;
          flex: none;
        }
        &.mobile-min-width-#{ $input } { min-width: $value; }
        &.mobile-max-width-#{ $input } { max-width: $value; }
      }
    }

    @for $gap from 1 through 1000 {
      $value: #{ $gap }rem;

      &.mobile-gap-#{ $gap } { gap: $value; }
      &.mobile-gap-h-#{ $gap } { column-gap: $value; }
      &.mobile-gap-v-#{ $gap } { row-gap: $value; }
    }
  }

  // Will only show on non-mobile view.
  .non-mobile { display: none; }
}
