@use "setup" as *;

.modal-content { box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); } // Small shadow around the modal.

.modal-body { padding-bottom: 0; }

.input-group {
  // Removes the outline and box-shadow from the input.
  input {
    outline: none !important;
    box-shadow: none !important;
  }

  // Default border.
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);

  &.input-group-lg { border-radius: var(--bs-border-radius-lg); }
  &.input-group-sm { border-radius: var(--bs-border-radius-sm); }

  // No inside borders besides the ones separating children.
  * { border: none; }
  > *:not(:first-child) { border-left: 1px solid var(--bs-border-color); }

  // Focus default bootstrap behavior and invalid state.
  &:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

    &:has(.is-invalid) { box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.25); }
  }

  // Invalid state.
  &:has(.is-invalid) { border-color: var(--bs-danger); }
}

// Adds spacing between icon and text automatically.
.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;

  &.btn-sm { gap: 0.4rem; }
  &.btn-lg { gap: 0.8rem; }

  i { line-height: 1.5rem; }
}

// Alerts are now displayed in a column and aligned to the right.
#alerts {
  z-index: 1080; // Higher than Bootstrap tooltips.
  flex-direction: column;
  align-items: flex-end;
  display: flex;

  .alert {
    display: inline-block;
  
    a { @extend .alert-link; }
  }
}

.turbo-progress-bar {
  height: 0.3rem;
  background-color: var(--bs-warning);
  transition: width 0.2s ease-out, opacity 0.4s ease-in;
}

// Auto space between elements
// inside a toolbar.
.btn-toolbar { @extend .gap-2 }

