#main-login-wrap {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%; // Percent instead of VH so it's actually in the middle of the screen.
  background: rgba($background-info, 0.5);

  #main-login-modal {
    width: 34rem;
    padding: 2rem 2rem 0 2rem;
    border-radius: 0.4rem;
    background: rgba($background-info, 0.3);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #recaptcha {
      height: 6.5rem;
      margin-bottom: 2rem;
    }

    iframe { margin-bottom: 0 !important; } // Largura do CloutFlare Turnstile.
  }
}
